@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    /* color: #595959; */
    font-family: 'Inter', sans-serif;
    line-height: 1.8;
}

a{
    color: #dc2f02;
}

.content a:hover{
    text-decoration: underline;
}

.bg-red-ml{
    background-color: #dc2f02;
}

.hover\:bg-red-ml:hover{
    background-color: #ff0000;
  }

.content section{
    padding-bottom: 4rem;
}

.content ol{
    padding-left: 1.25rem;
}

.content li::marker{
    color: #dc2f02;
}

.content ol li{
    padding-left: 0.5rem;
}

#toc ol li a{
    display: block;
}

.content ol li ol{
    list-style-type: lower-alpha;
}

ul.list-dash > li:before {
    content: "—";
    color: #dc2f02;
    position: absolute;
    left: 0;
}

ul.list-dash li p {
    display: inline-block;
    padding-left: 1.75rem;
    margin-bottom: 0.25rem;
}

#toc a{
    color: #000;
}

#toc ol li a.nav-link{
    border-left: 4px solid #eee;
    padding-left: 0.75rem;
    font-weight: bold;
    font-size: 0.95rem;
    padding-bottom: 0.25rem;
}

#toc ol li ol li a.nav-link{
    border-left: 4px solid #eee;
    padding-left: 2.25rem;
    font-weight: initial;
}

#toc a.active{
    color: #dc2f02;
    border-color: #dc2f02 !important;
}